@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide horizontal scrollbar for WebKit-based browsers */
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
  width: 0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

select {
  appearance: none;
  background-image: url(/dropdownIcon.svg);
  background-repeat: no-repeat;
  background-position: right 32px top 50%;
}

h1, h2, h3, h4, h5, h6, p, a, img, span, label {
  font-family: 'Sarabun', sans-serif;
}

.dirtyFix {
  display: none;
}

@media (min-width: 516px) {
  .dirtyFix {
    display: block;
    visibility: hidden;
  }
}